<div id="<%= dom_id tags_time_cut %>">
  <p>
    <strong>Age group:</strong>
    <%= tags_time_cut.age_group %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= tags_time_cut.gender %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= tags_time_cut.distance %>
  </p>

  <p>
    <strong>Stroke:</strong>
    <%= tags_time_cut.stroke %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= tags_time_cut.course %>
  </p>

  <p>
    <strong>Tags time:</strong>
    <%= tags_time_cut.tags_time %>
  </p>

  <p>
    <strong>Bonus time:</strong>
    <%= tags_time_cut.bonus_time %>
  </p>

</div>
