<div id="<%= dom_id time_standard %>">
  <p>
    <strong>Standard type:</strong>
    <%= time_standard.standard_type %>
  </p>

  <p>
    <strong>Age group:</strong>
    <%= time_standard.age_group %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= time_standard.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= time_standard.gender %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= time_standard.distance %>
  </p>

  <p>
    <strong>Stroke:</strong>
    <%= time_standard.stroke %>
  </p>

  <p>
    <strong>Sort order:</strong>
    <%= time_standard.sort_order %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= time_standard.course %>
  </p>

  <p>
    <strong>B:</strong>
    <%= time_standard.b %>
  </p>

  <p>
    <strong>Bb:</strong>
    <%= time_standard.bb %>
  </p>

  <p>
    <strong>A:</strong>
    <%= time_standard.a %>
  </p>

  <p>
    <strong>Aa:</strong>
    <%= time_standard.aa %>
  </p>

  <p>
    <strong>Aaa:</strong>
    <%= time_standard.aaa %>
  </p>

  <p>
    <strong>Aaaa:</strong>
    <%= time_standard.aaaa %>
  </p>

</div>
