<p style="color: green"><%= notice %></p>

<% content_for :title, "Time standards" %>

<h1>Time standards</h1>

<wa-tab-group>
  <wa-tab panel="single_age_scy">Single Age SCY</wa-tab>
  <wa-tab panel="single_age_scm">Singe Age SCM</wa-tab>
  <wa-tab panel="single_age_lcm">Single Age LCM</wa-tab>
  <wa-tab panel="age_group_scy">Age Group SCY</wa-tab>
  <wa-tab panel="age_group_scm">Age Group SCM</wa-tab>
  <wa-tab panel="age_group_lcm">Age Group LCM</wa-tab>

  <wa-tab-panel name="single_age_scy">
    <%= render(TimeStandardTabGroupComponent.new(standard_type: "single_age", course: "scy", time_standards: @time_standards)) %>
  </wa-tab-panel>

  <wa-tab-panel name="single_age_scm">
    <%= render(TimeStandardTabGroupComponent.new(standard_type: "single_age", course: "scm", time_standards: @time_standards)) %>
  </wa-tab-panel>

  <wa-tab-panel name="single_age_lcm">
    <%= render(TimeStandardTabGroupComponent.new(standard_type: "single_age", course: "lcm", time_standards: @time_standards)) %>
  </wa-tab-panel>

  <wa-tab-panel name="age_group_scy">
    <%= render(TimeStandardTabGroupComponent.new(standard_type: "age_group", course: "scy", time_standards: @time_standards)) %>
  </wa-tab-panel>

  <wa-tab-panel name="age_group_scm">
    <%= render(TimeStandardTabGroupComponent.new(standard_type: "age_group", course: "scm", time_standards: @time_standards)) %>
  </wa-tab-panel>

  <wa-tab-panel name="age_group_lcm">
    <%= render(TimeStandardTabGroupComponent.new(standard_type: "age_group", course: "lcm", time_standards: @time_standards)) %>
  </wa-tab-panel>

</wa-tab-group>

<% if false %>

<div id="time_standards">
  <% @time_standards.each do |time_standard| %>
    <%= render time_standard %>
    <p>
      <%= link_to "Show this time standard", time_standard %>
    </p>
  <% end %>
</div>

<%= link_to "New time standard", new_time_standard_path %>

<% end %>
