<table>
  <thead>
    <tr>
      <th> <%= @standard_type == "single_age" ? "Age" : "Age Group" %> </th>
      <th>Event</th>
      <th>B</th>
      <th>BB</th>
      <th>A</th>
      <th>AA</th>
      <th>AAA</th>
      <th>AAAA</th>
    </tr>
  </thead>
  <tbody>
    <% @time_standards.where("standard_type = ? and course = ? and gender = ?", @standard_type, @course, @gender).each do |s| %>
      <tr>
        <th> <%= @standard_type == "single_age" ? s.age : s.age_group %> </th>
        <th> <%= "#{s.distance.to_s} #{s.stroke.upcase}" %> </th>
        <th> <%= helpers.format_time_standard(s.b) %></th>
        <th> <%= helpers.format_time_standard(s.bb) %></th>
        <th> <%= helpers.format_time_standard(s.a) %></th>
        <th> <%= helpers.format_time_standard(s.aa) %></th>
        <th> <%= helpers.format_time_standard(s.aaa) %></th>
        <th> <%= helpers.format_time_standard(s.aaaa) %></th>
      </tr>
    <% end %>
  </tbody>
</table>
      


