<div id="<%= dom_id race %>">
  <p>
    <strong>Distance:</strong>
    <%= race.distance %>
  </p>

  <p>
    <strong>Stroke:</strong>
    <%= race.stroke %>
  </p>

  <p>
    <strong>Event no:</strong>
    <%= race.event_no %>
  </p>

  <p>
    <strong>Heat:</strong>
    <%= race.heat %>
  </p>

  <p>
    <strong>Lane:</strong>
    <%= race.lane %>
  </p>

  <p>
    <strong>Seed time:</strong>
    <%= race.seed_time %>
  </p>

  <p>
    <strong>Final time:</strong>
    <%= race.final_time %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= race.place %>
  </p>

  <p>
    <strong>Race date:</strong>
    <%= race.race_date %>
  </p>

  <p>
    <strong>Disqualified:</strong>
    <%= race.dq ? "Yes" : "No" %>
  </p>

  <p>
    <strong>Swim meet:</strong>
    <%= race.swim_meet_id %>
  </p>

</div>
