<h1>The CMC's Best Times</h1>

<p>
  The CMC is currently <%= render CmcAgeComponent.new %>
</p>

<table>
  <thead>
    <tr>
      <td>Course</td>
      <td>Event</td>
      <td>Date</td>
      <td>Time</td>
      <td>Single Age</td>
      <td>Age Group</td>
      <td>TAGS Time</td>
      <td>TAGS Bonus Time</td>
    </tr>
  </thead>
  <tbody>
    <% @best_races.each do |br| %>
      <tr>
        <td><%= br.course.upcase %></td>
        <td><%= "#{br.distance} #{br.stroke.upcase}" %></td>
        <td><%= br.race_date.to_fs(:long) %></td>
        <td><%= format_time_standard(br.final_time) %></td>
        <td><%= render MotivationalGradeComponent.new(standard_type: "single_age", race: br, age: 13, gender: "boys", course: br.course, time: br.final_time) %> </td>
        <td><%= render MotivationalGradeComponent.new(standard_type: "age_group", race: br, age: 13, gender: "boys", course: br.course, time: br.final_time) %> </td>
        <td><%= render TagsTimeComponent.new(gender: "boys", age: "13", distance: br.distance, stroke: br.stroke, course: br.course, time_type: "tags_time") %> </td>
        <td><%= render TagsTimeComponent.new(gender: "boys", age: "13", distance: br.distance, stroke: br.stroke, course: br.course, time_type: "bonus_time") %> </td>
      </tr>
    <% end %>
  </tbody>
</table>


