<div id="<%= dom_id swim_meet %>">
  <p>
    <strong>Name:</strong>
    <%= swim_meet.name %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= swim_meet.venue %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= swim_meet.address %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= swim_meet.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= swim_meet.end_date %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= swim_meet.course %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= swim_meet.description %>
  </p>

</div>
