<p style="color: green"><%= notice %></p>

<% content_for :title, "Swim meets" %>

<h1>Swim meets</h1>

  <div id="swim_meets">
    <table>
      <thead>
        <tr>
          <td><b>Date</b></td>
          <td><b>Meet</b></td>
          <td><b>Location</b></td>
        </tr>
      </thead>
      <tbody>
        <% @swim_meets.reverse_order.each do |swim_meet| %>
          <tr>
            <td> <%= swim_meet.start_date.to_fs(:long) %> </td>
            <td> <%= link_to "#{swim_meet.name}", swim_meet %> </td>
            <td> <%= "#{swim_meet.venue}" %> </td>
        <% end %>
      </tbody>
    </table>
  </div>


<%# this is the originally generated code %>
<% if false %>
  <div id="swim_meets">
    <% @swim_meets.each do |swim_meet| %>
      <%= render swim_meet %>
      <p>
        <%= link_to "Show this swim meet", swim_meet %>
      </p>
    <% end %>
  </div>
<% end %>

<%= link_to "New swim meet", new_swim_meet_path %>
