<p style="color: green"><%= notice %></p>

<%= render @swim_meet %>

<div class="wa-stack wa-gap-2xl">
  <h4>Races</h4>
  <% if @swim_meet.races.any? %>
    <table>
      <thead>
        <tr>
          <th>Event</th>
          <th>Seed (single age, age group)</th>
          <th>Final (single age, age group)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @swim_meet.races.each do |race| %>
          <tr>
            <td><%= "#{race.distance} #{race.stroke.upcase}"%></td>
            <td><%= format_time_standard(race.seed_time) %>
              <%= render MotivationalGradeComponent.new(standard_type: "single_age", race: race, age: 13, gender: "boys", course: @swim_meet.course, time: race.seed_time) %>
              <%= render MotivationalGradeComponent.new(standard_type: "age_group", race: race, age: 13, gender: "boys", course: @swim_meet.course, time: race.seed_time) %> </td>
            <td><%= format_time_standard(race.final_time) %>
              <%= render MotivationalGradeComponent.new(standard_type: "single_age", race: race, age: 13, gender: "boys", course: @swim_meet.course, time: race.final_time) %>
              <%= render MotivationalGradeComponent.new(standard_type: "age_group", race: race, age: 13, gender: "boys", course: @swim_meet.course, time: race.final_time) %> </td>
            <td><%= link_to "Edit", edit_race_path(race) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No races have been added to this meet yet.</p>
  <% end %>
</div>
<p></p>

<div>
  <%= link_to "Edit this swim meet", edit_swim_meet_path(@swim_meet) %> |
  <%= link_to "Back to swim meets", swim_meets_path %>

  <%= button_to "Destroy this swim meet", @swim_meet, method: :delete %>
</div>
