<p style="color: green"><%= notice %></p>

<%= render @swim_meet %>

<div>
  <%= link_to "Edit this swim meet", edit_swim_meet_path(@swim_meet) %> |
  <%= link_to "Back to swim meets", swim_meets_path %>

  <%= button_to "Destroy this swim meet", @swim_meet, method: :delete %>
</div>
