<div id="<%= dom_id usa_swimming_time_standard %>">
  <p>
    <strong>Standard type:</strong>
    <%= usa_swimming_time_standard.standard_type %>
  </p>

  <p>
    <strong>Age group:</strong>
    <%= usa_swimming_time_standard.age_group %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= usa_swimming_time_standard.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= usa_swimming_time_standard.gender %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= usa_swimming_time_standard.event %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= usa_swimming_time_standard.course %>
  </p>

  <p>
    <strong>B:</strong>
    <%= usa_swimming_time_standard.b %>
  </p>

  <p>
    <strong>Bb:</strong>
    <%= usa_swimming_time_standard.bb %>
  </p>

  <p>
    <strong>A:</strong>
    <%= usa_swimming_time_standard.a %>
  </p>

  <p>
    <strong>Aa:</strong>
    <%= usa_swimming_time_standard.aa %>
  </p>

  <p>
    <strong>Aaa:</strong>
    <%= usa_swimming_time_standard.aaa %>
  </p>

  <p>
    <strong>Aaaa:</strong>
    <%= usa_swimming_time_standard.aaaa %>
  </p>

</div>
