<p style="color: green"><%= notice %></p>

<%= render @usa_swimming_time_standard %>

<div>
  <%= link_to "Edit this usa swimming time standard", edit_usa_swimming_time_standard_path(@usa_swimming_time_standard) %> |
  <%= link_to "Back to usa swimming time standards", usa_swimming_time_standards_path %>

  <%= button_to "Destroy this usa swimming time standard", @usa_swimming_time_standard, method: :delete %>
</div>
